section {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 25vh;
  padding-top: 100px;
  }

  #portfolio, #skills h2, #skills p {
  padding-left: 20%;
  padding-right: 20%;
  }

  h1 {
  font-size: 2.9em;
  }

  p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.8em;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  }



  button, .form__btn {
  padding: 1vw 3vw;
  }

  #about {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 5%;
  padding-right: 5%;
  }


  #about_image {
  width: 25vw;
  }

  button, .form__btn {
  padding: 1vw 3vw;
  margin: 2vw auto;
  }

  h2 {
  font-size: 2.3em;
  margin-bottom: 3vh;
  }

  .article_portfolio-active {
  width: 100%;
  height: auto;
  }

  #portfolio {
  padding-right: 5%;
  padding-left: 5%;
  }

  .image_article_portfolio_index {
  max-width: 50%;
  }


  h3 {
  margin-top: 2vh;
  font-size: 1.8em;
  margin-bottom: 3vh;
  }

  ul, li {
  width: 36vw;
  line-height: 3vw;
  }

  #skills {
  width: 100%;
  }

  .skills_category {
  line-height: 3vw;
  margin-top: 2vw;
  }
  
  #services p {
  padding: 0;
  }

  #skills > ul:nth-child(4) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  }

  #objet, input[type="text"], input[type="email"], textarea {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  }

  textarea {
  height: 20vh;
  }

  footer {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 66vh;
  align-items: flex-end;
  }

  footer p {
  width: 100vw;
  text-align: center;
  font-size: 1.3em;
  }

  footer ul {
  margin: auto;
  }


